* {
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    height: 300px;
    margin: auto;
    margin-top: 200px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px 2px gray;
    background-color: black;
}

.container h3 {
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 10px;
}

.container p {
    font-size: 13px;
    color: aliceblue;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -3px;
    text-align: center;
}

.container input {
    width: 90%;
    height: 20px;
    padding: 10px;
    margin-top: 20px;
    background-color: azure;
    color: black;
    font-weight: bold;
    font-size: 10px;
    margin-left: auto;
    border: none;
    border-radius: 50px;
}

.container input::placeholder {
    font-weight: 300px;
}

.container button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100px;
    background-color: white;
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.container button:hover {
    color: white;
    background-color: black;
    border: 3px solid green;
}

.resultcontainer {
    color: white;
    font-size: 18px;
    text-align: center;
}